:root {
	--correct-text-colour: magenta;
}


.html {
	font-family: 'Arial', sans-serif;
}

.update {
	display:none;
}

.show {
	display:block;
}

.target-letter {
	font-size: 100pt;
}

.solutions {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
	border: 1px solid black;
	background-image: linear-gradient(to bottom left, #ffdddd, #ddddff);
}

.solution {
	display:flex;
	flex-basis: content;
	flex-direction: column;
	align-items: center;
	width: 50%;
	border: 1px solid white;
	border-radius: 20px;
}

.solution-image {
	font-size: 72pt;
	flex-grow: 0;
}

.solution-text {
	font-size: 42pt;
	color: black;
}

.solution-text.correct::first-letter {
	color: var(--correct-text-colour);
}


.selected-incorrect {
	filter: saturate(0%);
	opacity: 0.5;
	pointer-events: none;
}

.selected-correct {
	animation: anim-glory;
	animation-direction: alternate;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes anim-glory {
	from {box-shadow: 0px 0px 20px green;}
	to {box-shadow: 0px 0px 80px green;}
}
